<div class="fade-in">
   <div style="text-align:center">
      <h2>QR Code Generator</h2>
   </div>
   <form clrForm
         [formGroup]="qrCodeForm">
      <clr-input-container>
         <label>Text to Generate: </label>
         <input clrInput
                class="w-100"
                placeholder="QR Code Text"
                formControlName="qrCodeText" />
      </clr-input-container>
      <button class="btn btn-primary btn-block mt-1"
              (click)="handleGenerateQRCode()">Generate</button>

      <div class="alert alert-danger"
           *ngIf="geolocationErrorMessage"
           role="alert">
         <div class="alert-items">
            <div class="alert-item static">
               <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon"
                            shape="exclamation-circle"></clr-icon>
               </div>
               <span class="alert-text">
                  {{geolocationErrorMessage}}
               </span>
            </div>
         </div>
      </div>
   </form>

   <div class="qr-code-wrapper">
      <qrcode *ngIf="qrData"
              [qrdata]="qrData"
              [usesvg]=true
              [level]="'M'"></qrcode>
   </div>
</div>